@import "../../layout/style/base/setting";

.post-pagination {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: $relative-spacing-xlarge 0;

  > .pagination-number {
    display: flex;
    flex-grow: 1;
    justify-content: start;
    align-items: center;
    padding: 0 160px;

    a {
 
      display: flex;
      width: 2rem !important;
      align-items: center;
      width: 20px;
      justify-content: center;
      border: 1px solid #efa83f;
    }

    .active {
      // width: 2em; 
      /* height: 2em; */
      // color: var(--invert2);
      background: orange;
      /* border-radius: 50%; */
      color: white !important;
  }
    }
  }
// }
